<div class="row center">
    <h2>
        CHECKOUT
    </h2>
</div>
<div class="row">

    <div class="col s12">
<!--  Customer info -->
        <div class="row">
            <div class="col s12">
                <h4>
                    Customer Infomation
                </h4>
            </div>
        </div>
        <div class="row">
            <form class="col s12">
              <div class="row">
                  <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                  </div>
                <div class="input-field col s6">
                  <input id="last_name" type="text">
                  <label for="last_name">Last Name</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s6">
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
                <div class="input-field col s4">
                  <input id="phone" type="number" class="validate">
                  <label for="phone">Phone Number</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s5">
                  <input id="street_addr" type="text" class="validate">
                  <label for="street_addr">Street address</label>
                </div>
                <div class="input-field col s3">
                  <input id="city" type="text" class="validate">
                  <label for="city">City</label>
                </div>
                <div class="input-field col s2">
                  <input id="state" type="text" class="validate">
                  <label for="state">State</label>
                </div>
                <div class="input-field col s2">
                  <input id="zipcode" type="text" maxlength="5" class="validate">
                  <label for="zipcode">Zip Code</label>
                </div>
              </div>

            </form>
          </div>
  <!--  Payment info -->
          <div class="row">
              <div class="col s12">
                  <h4>
                      Payment Information
                  </h4>
              </div>
          </div>
          <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <input id="name_on_card" type="text">
                    <label for="name_on_card">Name on card</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input id="card_number" type="text">
                    <label for="card_number">Card Number</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s6">
                    <input id="exp_date" placeholder="mm/yyyy" type="text" maxlength="5" class="validate">
                    <label for="exp_date">Exp date</label>
                  </div>
                  <div class="input-field col s2">
                    <input id="security_code" type="number" maxlength="3" class="validate">
                    <label for="security_code">Security Code</label>
                  </div>
                </div>

              </form>
            </div>
<!-- button(s) -->
            <div class="row">
                <div class="col s6">
                    <a class="waves-effect waves-light btn" [routerLink]="['../confirmation']">Place Order</a>
                </div>
            </div>


    </div><!--col-->
</div><!-- container-->
