<div class ="pageName">
  <h5>
    Welcome to Shop the Shop!
  </h5>
</div>


<div class = "left">
  <div class = "itemized">
     <ul>

       <li class = "yesProduct" *ngFor="let product of products">
         <p>
           You purchased
         </p>
         {{product.id}}
         {{product.image_url}}
         <!-- <button class="view">View Details</button> -->
         <!-- <button onclick="view()">View details</button> -->
         {{product.price}}
         {{product.finalAmount}}
         <!-- {{jsonObject.finalAmount}} -->

       </li>
       <li class = "noProduct"> <h5>There are no items in your cart.<br>
       Click "ADD" to add items.</h5></li>
     </ul>
</div>
</div>
<div class = "right">
  <ul class = "buttons">
    <li><button><a href = "http://list-view-microservice.us-west-2.elasticbeanstalk.com/products" [routerLink]="['../products']">Add more Items</a></button></li>

  </ul>
  <div class = "movetoCheckout">
    <button type="submit" form="form1" value="Submit"><a href = "http://localhost:4200/checkout"> Proceed to Checkout</a></button>
  </div>
</div>
