.buttons li{

  height: 50px;
  width: auto;
  margin-bottom: 40px;
}

.left{
width: 600px;
height: auto;
float: left;
position: fixed;
}
.right{
  width:200px;
  height: auto;
  float: right;
  margin-left: 10px;
  position: relative;
}

li.noProduct{
  display: block;
}

li + li.noProduct{
  display: none;
}

.view{
  display: block;
}
