<div class="row">

<div class ="pageName">
  <h5>
    Welcome to Shop the Shop!
  </h5>
</div>


<div class = "left">
  <div class = "itemized">
     <ul>

       <li class = "yesProduct" *ngFor="let product of products">
         <p>
           You purchased
         </p>
         {{product.id}}
         <img src="{{product.image_url}}"  />
         <br />
         <!-- <button class="view">View Details</button> -->
         <!-- <button onclick="view()">View details</button> -->
         {{product.price}}

         {{product.finalAmount}}
         <!-- {{jsonObject.finalAmount}} -->

       </li>
       <li class = "noProduct"> <h5>There are no items in your cart.<br>
       Click "ADD" to add items.</h5></li>
     </ul>
</div>
</div>
<div class = "right">
  <ul class = "buttons">
      <a class="waves-effect waves-light btn" [routerLink]="['../products']">Add more items</a>

  </ul>
  <div class = "movetoCheckout">
      <a class="waves-effect waves-light btn" [routerLink]="['../checkout']">Proceed to checkout</a>

    <!-- <button type="submit" form="form1" value="Submit" class="waves-effect waves-light btn">
        <a [routerLink]="['../checkout']"> Proceed to Checkout</a></button> -->
  </div>
</div>



</div>
